input{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 20px;
    font-family: 'Courier New', Courier, monospace;

}
input:hover{
    background-color: aqua;
    color: white;
    border-radius: 25px;
    height: 25px;
    font-family: sans-serif;
    transition: 2s;
}
textarea{
    background-color: black;
    border: 5px solid rgb(252, 255, 255);
    font-family: 'Courier New', Courier, monospace; 
    font-size: 18px;  
}